<!DOCTYPE html>
<html>
    {{> head}}
    <body class="{{body_class}}"> 
    <!--
 8 888888888o.          ,o888888o.     b.             8  8 8888      88 8888888 8888888888 d888888o.   
8 8888    `^888.    . 8888     `88.   888o.          8  8 8888      88       8 8888     .`8888:' `88. 
8 8888        `88. ,8 8888       `8b  Y88888o.       8  8 8888      88       8 8888     8.`8888.   Y8 
8 8888         `88 88 8888        `8b .`Y888888o.    8  8 8888      88       8 8888     `8.`8888.     
8 8888          88 88 8888         88 8o. `Y888888o. 8  8 8888      88       8 8888      `8.`8888.    
8 8888          88 88 8888         88 8`Y8o. `Y88888o8  8 8888      88       8 8888       `8.`8888.   
8 8888         ,88 88 8888        ,8P 8   `Y8o. `Y8888  8 8888      88       8 8888        `8.`8888.  
8 8888        ,88' `8 8888       ,8P  8      `Y8o. `Y8  ` 8888     ,8P       8 8888    8b   `8.`8888. 
8 8888    ,o88P'    ` 8888     ,88'   8         `Y8o.`    8888   ,d8P        8 8888    `8b.  ;8.`8888 
8 888888888P'          `8888888P'     8            `Yo     `Y88888P'         8 8888     `Y8888P ,88P' 

         .8.          b.             8  8 888888888o.      
        .888.         888o.          8  8 8888    `^888.   
       :88888.        Y88888o.       8  8 8888        `88. 
      . `88888.       .`Y888888o.    8  8 8888         `88 
     .8. `88888.      8o. `Y888888o. 8  8 8888          88 
    .8`8. `88888.     8`Y8o. `Y88888o8  8 8888          88 
   .8' `8. `88888.    8   `Y8o. `Y8888  8 8888         ,88 
  .8'   `8. `88888.   8      `Y8o. `Y8  8 8888        ,88' 
 .888888888. `88888.  8         `Y8o.`  8 8888    ,o88P'   
.8'       `8. `88888. 8            `Yo  8 888888888P'    

8 888888888o.      8 888888888o.            .8.           ,o888888o.        ,o888888o.     b.             8    d888888o.   
8 8888    `^888.   8 8888    `88.          .888.         8888     `88.   . 8888     `88.   888o.          8  .`8888:' `88. 
8 8888        `88. 8 8888     `88         :88888.     ,8 8888       `8. ,8 8888       `8b  Y88888o.       8  8.`8888.   Y8 
8 8888         `88 8 8888     ,88        . `88888.    88 8888           88 8888        `8b .`Y888888o.    8  `8.`8888.     
8 8888          88 8 8888.   ,88'       .8. `88888.   88 8888           88 8888         88 8o. `Y888888o. 8   `8.`8888.    
8 8888          88 8 888888888P'       .8`8. `88888.  88 8888           88 8888         88 8`Y8o. `Y88888o8    `8.`8888.   
8 8888         ,88 8 8888`8b          .8' `8. `88888. 88 8888   8888888 88 8888        ,8P 8   `Y8o. `Y8888     `8.`8888.  
8 8888        ,88' 8 8888 `8b.       .8'   `8. `88888.`8 8888       .8' `8 8888       ,8P  8      `Y8o. `Y8 8b   `8.`8888. 
8 8888    ,o88P'   8 8888   `8b.    .888888888. `88888.  8888     ,88'   ` 8888     ,88'   8         `Y8o.` `8b.  ;8.`8888 
8 888888888P'      8 8888     `88. .8'       `8. `88888.  `8888888P'        `8888888P'     8            `Yo  `Y8888P ,88P'
 -->
        {{!Sidenav and Navbar}}
        <nav id="nav-trans" class="transparent">
            <div id="slide-out" class="side-nav fixed blue-grey darken-4">
                <div class="navwrapper container">  
                    <a href="/"><h1 id="nav-head">{{@blog.title}}</h1></a>
                    <span>{{@blog.description}}</span>
                    {{navigation}}
                    {{!-- {{> social_bar}} --}}
                </div>
            </div>
            <a href="#" data-activates="slide-out" class="button-collapse">
                <i class="material-icons">&#xE5D2;</i>
            </a>
            <div class="mobile-header">{{@blog.title}}</div>
        </nav>
        {{! Content }}
        {{{ body }}}
        {{!footer}}
        <footer class="page-footer blue-grey darken-3">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12 white-text">
                        <h4>{{@blog.title}}</h4>
                        <p>{{@blog.description}}</p>
                    </div>
                    <div class="col l6 s12 white-text">
                        <h4>Apps</h4>
                        <a href="#">Monster Creation</a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <a href="http://seth-howell.com">
                              Seth Howell
                    </a> - 2016
                    <div class="right">
                        Powered by <a href="https://ghost.org/">Ghost</a>
                    </div>
                </div>
            </div>
        </footer> 
        {{!Script}}
        <script src="{{asset "js/jquery-2.1.4.min.js"}}"></script>
        <script src="{{asset "js/materialize.min.js"}}"></script>
        <script src="{{asset "js/script.min.js"}}"></script>
        <!-- <script src="{{asset "js/mfb.min.js"}}"></script> -->
        {{! Ghost body injection }}
        {{ghost_foot}}
    </body>
</html>