<!DOCTYPE html>
<html>
    {{> head}}
    <body class="{{body_class}}"> 
    <!--
:::::::-.      ...   :::.    :::....    :::::::::::::: .::::::. 
 ;;,   `';, .;;;;;;;.`;;;;,  `;;;;;     ;;;;;;;;;;'''';;;`    ` 
 `[[     [[,[[     \[[,[[[[[. '[[['     [[[    [[     '[==/[[[[,
  $$,    $$$$$,     $$$$$$ "Y$c$$$      $$$    $$       '''    $
  888_,o8P'"888,_ _,88P888    Y888    .d888    88,     88b    dP
  MMMMP"`    "YMMMMMP" MMM     YM"YmmMMMM""    MMM      "YMmMY" 
           :::.   :::.    :::.:::::::-.  
           ;;`;;  `;;;;,  `;;; ;;,   `';,
          ,[[ '[[,  [[[[[. '[[ `[[     [[
         c$$$cc$$$c $$$ "Y$c$$  $$,    $$
          888   888,888    Y88  888_,o8P'
          YMM   ""` MMM     YM  MMMMP"`     
:::::::-.  :::::::..    :::.      .,-:::::/      ...   :::.    :::. .::::::. 
 ;;,   `';,;;;;``;;;;   ;;`;;   ,;;-'````'    .;;;;;;;.`;;;;,  `;;;;;;`    ` 
 `[[     [[ [[[,/[[['  ,[[ '[[, [[[   [[[[[[/,[[     \[[,[[[[[. '[['[==/[[[[,
  $$,    $$ $$$$$$c   c$$$cc$$$c"$$c.    "$$ $$$,     $$$$$$ "Y$c$$  '''    $
  888_,o8P' 888b "88bo,888   888,`Y8bo,,,o88o"888,_ _,88P888    Y88 88b    dP
  MMMMP"`   MMMM   "W" YMM   ""`   `'YMUP"YMM  "YMMMMMP" MMM     YM  "YMmMY" 

 -->
        {{!Sidenav and Navbar}}
        <nav id="nav-trans" class="transparent">
            <div id="slide-out" class="side-nav fixed blue-grey darken-4">
                <div class="navwrapper container">  
                    <a href="/"><h1 id="nav-head">{{@blog.title}}</h1></a>
                    <span>{{@blog.description}}</span>
                    {{navigation}}
                    {{!-- {{> social_bar}} --}}
                </div>
            </div>
            <a href="#" data-activates="slide-out" class="button-collapse">
                <i class="material-icons">&#xE5D2;</i>
            </a>
            <div class="mobile-header">{{@blog.title}}</div>
        </nav>
        {{! Content }}
        {{{ body }}}
        {{!footer}}
        <footer class="page-footer blue-grey darken-3">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12 white-text">
                        <h4>{{@blog.title}}</h4>
                        <p>{{@blog.description}}</p>
                    </div>
                    <div class="col l6 s12 white-text">
                        <h4>Apps</h4>
                        <a href="#">Monster Creation</a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <a href="http://seth-howell.com">
                              Seth Howell
                    </a> - 2016
                    <div class="right">
                        Powered by <a href="https://ghost.org/">Ghost</a>
                    </div>
                </div>
            </div>
        </footer> 
        {{!Script}}
        <script src="{{asset "js/jquery-2.1.4.min.js"}}"></script>
        <script src="{{asset "js/materialize.min.js"}}"></script>
        <script src="{{asset "js/script.min.js"}}"></script>
        <!-- <script src="{{asset "js/mfb.min.js"}}"></script> -->
        {{! Ghost body injection }}
        {{ghost_foot}}
    </body>
</html>