{{!< default }}
        <main> 
           {{!Cards}}
           {{#foreach posts}}
            <div class="row">
                <div class="card-front animated col s12 m12 l8 offset-l2">
                    <article class="card">
                        {{!Cover Image}}
                        <div class="card-image">
                            <a href="{{url}}"><img src="{{image}}"></a>
                        </div>
                        <div class="card-content">
                            <div class="card-header">
                                {{!post meta (time posted, tags)}}
                                <div class="card-meta blue-grey-text text-lighten-2">
                                    <div class="card-tag"> {{!Tag}}
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        {{#foreach tags}}
                                            <a href="{{url}}" title="{{name}}" class="blue-grey-text text-lighten-2">{{name}}</a>
                                        {{/foreach}}
                                    </div>
                                    <time class="card-date" datetime="{{date format='YYYY-MM-DD'}}">
                                        <i class="material-icons">&#xE192;</i> 
                                        {{date format='YYYY-MM-DD'}}
                                    </time>
                                </div>
                                {{!Post Title}}
                                <h2 class="card-title">
                                    <a href="{{url}}">{{title}}</a>
                                </h2>
                            </div>
                            {{!Post Content with limitation of 50 words}}
                            <p>{{excerpt words="50"}}&hellip;</p>
                        </div>
                        <div class="card-action">
                            {{!-- <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" class="btn-floating fb intent" data-width="580" height="235">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}" class="btn-floating tw intent" data-width="550" height="235">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="https://plus.google.com/share?url={{url absolute="true"}}" class="btn-floating gp intent" data-width="590" height="530">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a> --}}
                            <ul class="mfb-component--tl mfb-slidein" data-mfb-toggle="click" data-mfb-state="closed">
                                <li class="mfb-component__wrap">
                                    <a data-mfb-label="Share" class="mfb-component__button--main">
                                        <!-- the main button icon visibile by default -->
                                        <i class="mfb-component__main-icon--resting fa fa-share-alt"></i>
                                        <!-- the main button icon visibile when the user is hovering/interacting with the menu -->
                                        <i class="mfb-component__main-icon--active fa fa-lock"></i>
                                    </a>
                                    <ul class="mfb-component__list">
                                        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" data-mfb-label="Facebook" class="btn-floating fb intent mfb-component__button--child" data-width="580" height="235">
                                            <i class="mfb-component__child-icon fa fa-facebook" aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}" data-mfb-label="Twitter" class="btn-floating tw intent mfb-component__button--child" data-width="550" height="235">
                                            <i class="mfb-component__child-icon fa fa-twitter" aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="https://plus.google.com/share?url={{url absolute="true"}}" data-mfb-label="Google+" class="btn-floating gp intent mfb-component__button--child" data-width="590" height="530">
                                            <i class="mfb-component__child-icon fa fa-google-plus" aria-hidden="true"></i>
                                        </a></li>
                                    </ul>
                                </li>
                            </ul>
                            <a class="waves-effect waves-light btn right" href="{{url}}">read more</a>
                        </div>
                    </article>
                </div>
            </div>
            {{/foreach}}
            {{! Blog pagination }}
            {{#if pagination}}{{pagination}}{{/if}}
        </main>
        